{% extends 'base.html.twig' %}

{% block title %}trt-je-depose-mon-cv{% endblock %}

{% block body %}
<h1 class="text-center mt-5 mb-5">Je dépose mon cv</h1>
<div class="d-flex justify-content-center col-md-4">
{{form(form)}}
</div>
{% endblock %}