{% extends 'base.html.twig' %}

{% block title %}trt-admin{% endblock %}

{% block body %}
<h1 class="text-center mt-5"> page d'aministration </h1>

<a href= {{path('app_users_list')}} class="role">-liste des utilisateurs</a>

{% endblock %}
