{% extends 'base.html.twig' %}

{% block title %}trt-admin/listUsers
{% endblock %}

{% block body %}
	<h1 class="text-center mt-5">Liste des utilisateurs
	</h1>

	<div class="row mt-5">
		{% for user in users %}
			<div class="col-4">
				<div class="card border-primary mb-3" style="width: 18rem;">
					<div class="card-body">
						<h5 class="card-title">{{user.lastname}}</h5>
						<h6 class="card-subtitle mb-2 text-muted">{{user.firstname}}</h6>
						<p class="card-text">
							<a href="{{ path('app_admin_user_detail', {id: user.id}) }}" class="role">voir les detail</a>
							
						</p>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>


{% endblock %}
