{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center mt-5 mb-5">Liste des utilisateurs en attente de validation</h1>

    {% if users is empty %}
        <p class=" mt-5 mb-5">Aucun utilisateur en attente de validation.</p>
    {% else %}
        <ul>
            {% for user in users %}
                <li>
                    {{ user.email }}
                    <a href="{{ path('app_unvalidated_user', {'id': user.id}) }}">Valider</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}