{% extends 'base.html.twig' %}

{% block title %}trt-attente-de-validation{% endblock %}

{% block body %}
<h1 class="text-center mt-5 mb-5">Pourquoi cette page</h1>
<div class="container">
<p class="text-center">si vous arrivé sur cette page c'est que Votre compte doit être validé par 
l'administrateur avant de pouvoir vous connecter pour des raisons de 
sécurité. Nous devons nous assurer que seules les personnes autorisées ont accès à notre système. 
Nous vous enverrons un e-mail de confirmation dès que votre compte aura été validé.</br> L'e-mail de confirmation serra envoyer a {{app.user.email}}" </p> 
</div>
{% endblock %}
